<div class="row row-padding small-12 columns">
  <h4><i class="fi-torsos-male-female"></i>Profiles Index</h4>
  <hr>

  <div class="small-12 large-6 columns">
    <div class="callout">
      <p>
        <%= render 'search' %>
      </p>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="callout">
      <p>
        <i class="fi-torsos-male-female"></i> <%= @profiles.count %> Result(s)
      </p>
      <table>
        <thead>
          <th>
            Last Name
          </th>
          <th>
            First Name
          </th>
          <th>
            Email
          </th>
          <th>
            Delete?
          </th>
        </thead>
        <tbody>
          <% @profiles.each do |profile| %>
          <tr>
            <td>
              <%= profile.user.last_name %>
            </td>
            <td>
              <%= profile.user.first_name %>
            </td>
            <td>
              <%= profile.user.email %>
            </td>
            <td>
              <%= link_to "Delete Profile", profile_path(profile), class:"button", method: "delete" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
