<!DOCTYPE html>
<html lang="en">
  <head id="header">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Workshop Organizer" %></title>

    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  </head>

  <body id="content">
    <%= render "layouts/nav" %>

    <div class="expanded row">
      <%= render 'layouts/messages' %>
    </div>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
