<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Workshop Organizer" %></title>

    <%= favicon_link_tag 'favicon.png' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="vertical medium-horizontal menu">
          <li class="menu-text">
            <h4><%= link_to('Workshop Organizer', root_path) %></h4>
          </li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="vertical medium-horizontal menu">

          <li class="menu-text">
            <strong><%= link_to('Workshops', workshops_path) %></strong>
          </li>

          <% if user_signed_in? && current_user.admin? %>
            <li class="menu-text">
              <strong><%= link_to('Profiles', profiles_path) %></strong>
            </li>
          <% end %>

          <% if user_signed_in? %>
            <li class="menu-text">
              <strong><%= link_to 'My Profile', profile_path(current_user.profile) if current_user %></strong>
            </li>
            <li class="menu-text">
              <%= link_to('Sign Out', destroy_user_session_path, method: 'delete' ) %>
            </li>
            <% else %>
            <li class="menu-text">
              <strong><%= link_to('Sign In', new_user_session_path) %></strong>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    
    <script>
      $(document).foundation();
    </script>

    <%= render "layouts/footer" %>
  </body>
</html>
