<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">

      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">
            <%= link_to('Workshop Organizer', root_path) %>
          </li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <li class="menu-text">
            <%= link_to('Workshops', workshops_path) %>
          </li>
        </ul>
      </div>

    </div>

    <div class="row column">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

  </body>
</html>
